# Assignment: Weeks 11 & 12 Exercises
# Class: DSC 540
# Name: Wittlieff, Harlan
# Date: 3/4/2022

# 1. Connect to petsDB and check whether the connection has been successful.

In [21]:
# Load library
import sqlite3

In [22]:
# Create connection
conn = sqlite3.connect("data/petsdb")

In [23]:
# Define function to check connection
def check_conn(conn):
    try:
        print('Connection successful!')
    except Exception as ex:
        print('Connection failed!')

# Test the connection
check_conn(conn)

Connection successful!

# 2. Find the different age groups in the persons database

In [26]:
# Build c
c = conn.cursor()

# Loop through the persons table counting the number of people by age
for people, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print('Age', age, 'count:', people)

Age 5 count: 2
Age 6 count: 1
Age 7 count: 1
Age 8 count: 3
Age 9 count: 1
Age 11 count: 2
Age 12 count: 3
Age 13 count: 1
Age 14 count: 4
Age 16 count: 2
Age 17 count: 2
Age 18 count: 3
Age 19 count: 1
Age 22 count: 3
Age 23 count: 2
Age 24 count: 3
Age 25 count: 2
Age 27 count: 1
Age 30 count: 1
Age 31 count: 3
Age 32 count: 1
Age 33 count: 1
Age 34 count: 2
Age 35 count: 3
Age 36 count: 3
Age 37 count: 1
Age 39 count: 2
Age 40 count: 1
Age 42 count: 1
Age 44 count: 2
Age 48 count: 2
Age 49 count: 1
Age 50 count: 1
Age 51 count: 2
Age 52 count: 2
Age 53 count: 2
Age 54 count: 2
Age 58 count: 1
Age 59 count: 1
Age 60 count: 1
Age 61 count: 1
Age 62 count: 2
Age 63 count: 1
Age 65 count: 2
Age 66 count: 2
Age 67 count: 1
Age 68 count: 3
Age 69 count: 1
Age 70 count: 1
Age 71 count: 4
Age 72 count: 1
Age 73 count: 5
Age 74 count: 3

# 3. Find the age group that has the maximum number of people.

In [29]:
# Loop through the persons table counting the number of people by age and sorting the list in descending order
for people, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print('Age', age, 'count:', people)
    # Break to only print the first entry
    break

Age 73 count: 5

# 4. Find the people who do not have a last name.

In [41]:
# Loop through the persons table selecting first_name where last_name is null
for name in c.execute("SELECT first_name FROM persons WHERE last_name IS null"):
    print('First name:', name[0])

First name: Erica
First name: Jordi
First name: Chasity
First name: Gregg
First name: Cary
First name: Francisca
First name: Raleigh
First name: Maria
First name: Mariane
First name: Mona
First name: Kayla
First name: Karlie
First name: Morris
First name: Sandy
First name: Hector
First name: Hiram
First name: Tressa
First name: Berry
First name: Pearline
First name: Maynard
First name: Dorian
First name: Mylene
First name: Lafayette
First name: Tara
First name: Destiny
First name: Lesly
First name: Perry
First name: Maritza
First name: Grant
First name: Laury
First name: Name
First name: Estefania
First name: Destiney
First name: Jaquelin
First name: Alfonzo
First name: Lisandro
First name: Priscilla
First name: Elenora
First name: Rudolph
First name: Ona
First name: Rebeca
First name: Sigurd
First name: Alice
First name: Dane
First name: Judge
First name: Allene
First name: Jalen
First name: Myron
First name: Travon
First name: Shayna
First name: Myah
First name: Letha
First name: Felton
First name: London
First name: Koby
First name: Golden
First name: Anissa
First name: Sid
First name: Ernesto
First name: Josianne

# 5. Find out how many people have more than one pet.

In [40]:
# Count the number of instances of recurring owner_ids in the pets table
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id)>1)")

# Print the result
for row in res:
    print(row[0], 'people have more than one pet')

43 people have more than one pet

# 6. Find out how many pets have received treatment.

In [42]:
# Count the number of records where treatment_done = 1
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")

# Return the result
for row in res:
    print(row[0], 'pets have received treatment')

36 pets have received treatment

# 7. Find out how many pets have received treatment and the type of pet is known.

In [44]:
# Count the number of records where treatment_done = 1 and pet_type is not null
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")

# Return the result
for row in res:
    print(row[0], 'pets have receieved treatment with a known type of pet')

16 pets have receieved treatment with a known type of pet

# 8. Find out how many pets are from the city called east port.

In [47]:
# Join the pets and persons tables, count the records where city=eastport
res = c.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port'")

# Return the result
for row in res:
    print(row[0], 'pets are from East Port')

49 pets are from East Port

# 9. Find out how many pets are from the city called east port and who received a treatment.

In [48]:
# Join the pets and persons tables, count the records where city=eastport and treatment_done=1
res = c.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")

# Return the result
for row in res:
    print(row[0], 'treated pets are from East Port')

11 treated pets are from East Port

In [49]:
# Close the connection
conn.close()