### Exercise 1 (Generator Expression)

In [1]:
odd_numbers = (x for x in range(100000) if x % 2 != 0)

In [2]:
from sys import getsizeof
getsizeof(odd_numbers)

88

In [3]:
for i, number in enumerate(odd_numbers):
    print(number)
    if i > 10:
        break

1
3
5
7
9
11
13
15
17
19
21
23

In [4]:
odd_numbers2 = [x for x in range(100000) if x % 2 != 0]

In [5]:
getsizeof(odd_numbers2)

406496

### Exercise 2 (String operations using generator expressions)

In [11]:
words = ["Hello\n", "My name", "is\n", "Bob", "How are you", "doing\n"]

In [12]:
modified_words = (word.strip().lower() for word in words)

In [13]:
final_list_of_word = [word for word in modified_words]
final_list_of_word

['hello', 'my name', 'is', 'bob', 'how are you', 'doing']

### Exercise 3 (String operation and nested for loops in generator expression)

In [20]:
modified_words2 = (w.strip().lower() for word in words for w in word.split(" "))

In [21]:
final_list_of_word = [word for word in modified_words2]
final_list_of_word

['hello', 'my', 'name', 'is', 'bob', 'how', 'are', 'you', 'doing']

In [22]:
modified_words3 = []
for word in words:
    for w in word.split(" "):
        modified_words3.append(w.strip().lower())
modified_words3

['hello', 'my', 'name', 'is', 'bob', 'how', 'are', 'you', 'doing']

### Exercise 4 (Multiple, non-nested for loop in generator expression)

In [23]:
marbles = ["RED", "BLUE", "GREEN"]
counts = [1, 5, 13]

marble_with_count = ((m, c) for m in marbles for c in counts)

In [24]:
marble_with_count_as_list = list(marble_with_count)
marble_with_count_as_list

[('RED', 1),
 ('RED', 5),
 ('RED', 13),
 ('BLUE', 1),
 ('BLUE', 5),
 ('BLUE', 13),
 ('GREEN', 1),
 ('GREEN', 5),
 ('GREEN', 13)]

In [26]:
marble_with_count_as_list_2 = []
for m in marbles:
    for c in counts:
        marble_with_count_as_list_2.append((m, c))
marble_with_count_as_list_2

[('RED', 1),
 ('RED', 5),
 ('RED', 13),
 ('BLUE', 1),
 ('BLUE', 5),
 ('BLUE', 13),
 ('GREEN', 1),
 ('GREEN', 5),
 ('GREEN', 13)]

### Exercise 5 (zip)

In [30]:
countries = ["India", "USA", "France", "UK"]
capitals = ["Delhi", "Washington", "Paris", "London"]
countries_and_capitals = [t for t in zip(countries, capitals)]
countries_and_capitals

[('India', 'Delhi'),
 ('USA', 'Washington'),
 ('France', 'Paris'),
 ('UK', 'London')]

In [32]:
countries_and_capitals_as_dict = dict(zip(countries, capitals))
countries_and_capitals_as_dict

{'India': 'Delhi', 'USA': 'Washington', 'France': 'Paris', 'UK': 'London'}

### Exercise 6 (ziplongest)

In [36]:
countries = ["India", "USA", "France", "UK", "Brasil", "Japan"]
capitals = ["Delhi", "Washington", "Paris", "London"]
from itertools import zip_longest
countries_and_capitals_as_dict_2 = dict(zip_longest(countries, capitals))
countries_and_capitals_as_dict_2

{'India': 'Delhi',
 'USA': 'Washington',
 'France': 'Paris',
 'UK': 'London',
 'Brasil': None,
 'Japan': None}